:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
body {
    color: #0c0c0c;
    overflow-x: hidden;
}
h1 {
    font-weight: 350;
    margin: 10px 0 10px 0;
    border-bottom: 2px solid #999;
}
h2 {
    font-weight: 350;
    margin: 5px 0 10px 0;
}
h3 {
    font-weight: 350;
}
div {
    margin-bottom: 10px;;
}
table {
    border-collapse: collapse;
    min-width: 400px;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}
thead tr {
    background-color: grey;
    color: white;
}
th {
    font-weight: 600;
}    
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.small {
    font-size: 0.8em;
}
td a {
    text-decoration: none;
}

.device-list tr:last-child {
    border-top-style: double;
}

#highlight-list tr:hover {
    background-color: #eee;
}
#highlight-list tr td.remove {
    cursor: pointer;
}
.pointable, input[type=button] {
    cursor: pointer;
}
.timePicker {
    background-color: #efefef;
    width: 50px;
    cursor: pointer;
}
div.section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 700px;
}
div.session > div {
    display: inline-block;
    margin-bottom: 0;
    min-width: 75px;
}
.set-button {
    width: 100px;
    margin-right: 10px;;
}
.bottomcorner {
    position:absolute;
    bottom:0;
    left:0;
    padding: 0 0 10px 10px;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

div.doc {
    font-size: 0.8em;
}

div.doc p {
    margin: 8px 0 8px 0;
}

.doc-showing {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    margin: 5px 0 10px 0;
    padding: 4px 10px 4px 10px;
    padding-bottom: 0;
    background-color: #fafafa;
}

div.doc div.text {
    display: none;
}

div.doc div.toggle {
    display: block;
    cursor: pointer;
    color: #666;
}

div.doc div.toggle:hover {
    text-decoration: underline;
}

div.doc .title {
    font-weight: bold;
}

div.doc div.text .topic {
    font-style: italic;
    color: #b00;
}

span.qr-link {
    display: inline;
}
span.qr-code {
    display: none;
}