<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lowlands EmbracePlus monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.timepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/inter.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js') }}" charset="utf-8"></script> 
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}" charset="utf-8"></script> 
    <script src="{{ url_for('static', filename='js/jquery.timepicker.min.js') }}" charset="utf-8"></script> 
</head>
<script>
const data_url = "{{ data.data_url|safe }}"
const data_reload = {{ data.data_reload }}

$( document ).ready(function()
{
    $('#startPicker').timepicker({
        'timeFormat': 'H:i',
        'listWidth': 1,
        'step': 10,
        'disableTextInput': true,
        'scrollDefault': 'now' });
    $('#endPicker').timepicker({
        'timeFormat': 'H:i',
        'listWidth': 1,
        'step': 10,
        'disableTextInput': true,
        'scrollDefault': 'now' });
    // $('#setStartNow').on('click', function () {setSomeTime(new Date, 'session_start', '#startTime')})
    // $('#setEndNow').on('click', function () {setSomeTime(new Date, 'session_end', '#endTime')})
    $('#setStartButton').on('click', function () {setSomeTime($('#startPicker').timepicker('getTime'), 'session_start', '#startTime');$("#startPicker").val('')})
    $('#setEndButton').on('click', function () {setSomeTime($('#endPicker').timepicker('getTime'), 'session_end', '#endTime');$("#endPicker").val('')})
    $('#today').on('change', function (){
        var today = $('#today').val();
        if (today) postData({'today': today});
    });
    $('#showGraphs').on('click', function (){
        if (today) postData({'show_graphs': $('#showGraphs').is(":checked")});
    });
    loadData();
})
</script> 
<body>
    <div id="load-status" class="bottomcorner"></div>

    <h1>Lowlands EmbracePlus monitor</h1>

    <div class="section">
        <h2>Sessie</h2>

        <div class="session">
            <div>Dag:</div>
            <div>
                <input type="date" id="today" value="" disabled="disabled" />
                <input type="button" onclick="
                    $('#today').attr('disabled', !$('#today').attr('disabled'));
                    $(this).attr('value',$('#today').attr('disabled') ? 'edit' : 'done' );
                    " value="edit">
            </div>
        </div>

        <div class="session">
            <div>Start:</div>
            <div>
                <!-- <input class="set-button" type="button" id="setStartNow" value="Nu starten" /> 
                of kies tijd: -->
                <input id="startPicker" type="text" class="timePicker time" placeholder="klik"/>
                <input class="set-button" type="button" id="setStartButton" value="Instellen" /> 
                <span id="startTime"></span>
            </div>
        </div>

        <div class="session">
            <div>Einde:</div>
            <div>
                <!-- <input class="set-button" type="button" id="setEndNow" value="Nu stoppen" /> 
                of kies tijd: -->
                <input id="endPicker" type="text" class="timePicker time" placeholder="klik"/>
                <input class="set-button" type="button" id="setEndButton" value="Instellen" />
                <span id="endTime"></span>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>Grafieken</h2>
        
        <div class="session">
            <div>
                Verbergen
                <label class="switch">
                    <input type="checkbox" id="showGraphs" value="show_graphs">
                    <span class="slider round"></span>
                </label>
                Tonen
            </div>
        </div>

    </div>

    <div class="section">
        <h2>Highlights</h2>

        <div>
            Stel in: <input type="text" id="highlight-label" placeholder="label"> 
            <input type="button" value="markeer" onclick="
                markHighlight($('#highlight-label').val());
                postData({'highlights': Highlights});
                showHighlights();
                $('#highlight-label').val('');">
        </div>
        <div>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Label</th>
                    <th></th>
                </thead>
                <tbody id="highlight-list">
                </tbody>
            </table>
        </div>
        <div>
            <input type="button" value="Download" onclick="exportHighlights()">
        </div>
    </div>

    <div class="section">
        <h2>Devices</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>S/N</th>
                    <th>password</th>
                    <th>last poll</th>
                    <th>data</th>
                </tr>
            </thead>
            <tbody id="device-list">
            </tbody>
        </table>
    </div>

    <!-- <div>
        Server data dir: <span id="data_dir"></span>
    </div> -->


</body>
</html>