<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lowlands EmbracePlus monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/device.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/inter.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}" charset="utf-8"></script> 
    <script src="{{ url_for('static', filename='js/d3.js') }}" charset="utf-8"></script> 
    <script src="{{ url_for('static', filename='js/plot.js') }}" charset="utf-8"></script> 
    <script src="{{ url_for('static', filename='js/device.js') }}" charset="utf-8"></script> 
</head>
<script>
const data_url = '{{ data.data_url|safe }}'
const data_reload = {{ data.data_reload }}

$( document ).ready(function ()
{
    eda_div = document.querySelector("#eda-plot");
    pulse_div = document.querySelector("#pulse-rate-plot");
    eda_text_div = document.querySelector("#eda-text");
    pulse_text_div = document.querySelector("#pulse-rate-text");

    loadData();
});
</script>
<body>

    <div id="banner"></div>

    <div id="main">

        <div class="main-title">
            <h1 id="main-title" data-text="Hoe reageerde jouw lichaam tijdens de sessie?"></h1>
        </div>

        <div class="plot">
            <div id="eda-plot"></div>
            <div id="eda-text" class="text"></div>
        </div>
        <div class="plot">
            <div id="pulse-rate-plot"></div>
            <div id="pulse-rate-text" class="text"></div>
        </div>
    </div>

    <div id="load-status" class="bottomcorner"></div>

</body>
</html>